// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.modal-register {
  border: 3px solid;
  display: none;
  position: fixed;
  z-index: 3;
  //margin:0 auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  &__content {
    z-index: 1;
    width:45%;
    height: auto;
    margin:auto;
    margin-top: 100px; //ヘッダーを基準
    background-color: #374654;
    text-align: center;
  }

  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  &__close:hover {
    color: black;
    cursor: pointer;
  }


  &__h2 {
    padding-top: 10px;
  }

  &__title {
    max-width: 732px;
    width: 60%;
    height: 40px;
    background-color: rgba(0,0,0,.3);
    text-align: center;
  }
  &__textarea {
    max-width: 732px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.3);
    width: 90%;
    height: 430px;
  }
  &__submit {
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.3);
  }

}



@media(max-width: 670px){
  .modal-content {
    z-index: 1;
    width:100%;
    height: auto;
    margin:auto;
    background-color: #374654;
  }
}



@media(max-width: 770px) {
  .modal-content input[type="text"] {
    max-width: 500px;
    background-color: rgba(0,0,0,.3);
    text-align: center;
  }
}

@media(max-width: 670px){
  .modal-content textarea {
    max-width: 500px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.3);
    width: 90%;
    height: 200px;
  }
}
@media(max-width: 1000px){
  .modal-content textarea {
    max-width: 500px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.3);
    width: 90%;
    height: 400px;
  }
}


#btn-block {
  border:2px solid rgba(255,255,255,0.7);
  border-radius: 6px;

}
