.top-wrapper {
  width:100%;
  height:100%;
  @media (max-width: 1980px){
    padding-top: 90px;
  }
  @media (max-width: 414px){
    padding-top: initial;
    width: 414px;
  }
  @media (max-width: 375px){
    padding-top: initial;
    width: 375px;
  }

  &__ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
  }

  &__li{
    width: 50%;
    list-style: none;
  }

  &__header{
    border:0.1px solid rgba(255,255,255,0.7);
    max-width: 600px;
    margin: 0 auto;
  }
  &__header-h2{
    margin-left: 15px;
  }
  &__img {
      width:  50px;       /* ※縦横を同値に */
      height: 50px;       /* ※縦横を同値に */
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      //background-position: left top;  /* 横長画像の左上を基準に表示 */
      display: block;          /* 複数の画像を横に並べたい場合 */
      padding: 10px, 2px, 0, 1px;
      float: left;
      object-fit: cover;
      @media (max-width: 375px){
        width:  48px;       /* ※縦横を同値に */
        height: 48px;
      }
  }

  &__user-wrapper{
    border:0.1px solid rgba(255,255,255,0.7);
    max-width: 600px;
    margin: 0 auto;

    &--no-margin{
      border:0.1px solid rgba(255,255,255,0.7);
      max-width: 600px;
    }
  }


  &__user-content {
    margin-top: 10px;
    margin-left: 10px;
    width: 560px;
    @media (max-width: 414px){
      padding-top: initial;
      width: 414px;
    }
    @media (max-width: 375px){
      width: 375px;
    }
  }
  &__name-title{
    margin-top: 0;
  }
  &__text-content{
    width: 500px;
    margin-left: 10px;
    float: left;
    @media (max-width: 414px){
      width: 320px;
    }
    @media (max-width: 375px){
      width: 281px;
      //margin-right: 20px;
    }

  }

  &__clear{
    clear:both;
  }

  &__text{
    //position: relative;
  }

  &__link a:hover{
    text-decoration: none;
  }

  &__name-link{

    z-index: 9999 !important;
  }

  &__bold-name{
    font-weight: bold;
  }
  &__sub-text{
    opacity: 0.7;
  }
}
